<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>
      Desenvolvedor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <img src="../../assets/dev.jpg" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="light" class="ion-text-center" >Rhaymison Cristian</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-text color="light">
            <h4 >Graduando em analise e desenvolvimento de sistemas, atualmente atuando como programado Full Stack Jr. 
              na Puzzle.lab. Apaixonado por programação web e mobile e desenvolvedor PHP e Javascript. Nas horas vagas
              divide seu tempo entre séries, comidas e games.
            </h4>
          </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>