<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IA Capitu Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="bark" id="bodyy" > 
  <ion-grid   class="padding-base" >
    <ion-row *ngFor="let message of messages  | async">
      <ion-col size="2">
        <img src="../../assets/capitu.png" *ngIf="message.sentBy == current" class="capitu">
      </ion-col>
      <ion-col size="9" *ngIf="message.sentBy == current" class="message other-message">
        <b>{{ message.sentBy}}</b><br>
        <span>{{ message.content}}</span>
        <div class="time" text-right><br>
          {{message.createdAt | date:'short'}}
        </div>
      </ion-col>
      <ion-col size="9" offset="3" *ngIf="message.sentBy !== current" class="message my-message">
        <b>Convidado</b><br>
        <span>{{ message.content}}</span>
        <div class="time" text-right><br>
          {{message.createdAt | date:'short'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row  align-items-center class="ion-no-padding">
      <ion-col size="10">
        <textarea autozise maxRows="4" [(ngModel)] = "newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn"  (click)="sendMessage()" >
         <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>